{% extends 'base.html.twig' %}

{% block title %}NAZAR Library - Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">Connectez-vous</h1>

    <form method="post">
        <div>
            <label for="inputEmail">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
        </div>
    
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        <button class="button button-secondary button-rounded-square" type="submit">
            Se connecter
        </button>
        <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
    </form>
</div>
{% endblock %}
